@charset "utf-8";
@font-face{
   font-family: Verdana;
   }

/* HTML and Body Styles */

html{
	background-image: url();
	background-size: cover;
	background-position: center;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
  list-style: none;
}

.popover {
    max-width: none !important;
}

.form-control, .col-form-label {
    font-size: 0.9rem !important;
}

.btn {
    font-size: 0.9rem !important;
}

#equipmentBox {
	position: relative;  /*keeps children within box*/
	display: block;
	/*width: 233px;*/
	/*height: 374px;*/
	float: left;
	min-width: 260px;
	min-width: 380px;  /* fixed width with button */
	min-height: 410px;
	padding-top: 10px;
}

#equipmentInventory {
  display: block;
  position: absolute;
  vertical-align: middle;
  width: 233px;
  height: 374px;
}

#equipmentBackground {
  position: absolute;
  top: 65px;
  left: 60px;
  width: 127px;
  height: 209px;
}

#hatImage, #hatButton {
  position: absolute;
  top: 45px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#hatImage2 {
  position: absolute;
  top: 45px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#faceImage, #faceButton{
  position: absolute;
  top: 86px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#faceImage2 {
  position: absolute;
  top: 86px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#eyeImage, #eyeButton {
  position: absolute;
  top: 127px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#eyeImage2 {
  position: absolute;
  top: 127px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#topImage, #topButton {
  position: absolute;
  top: 168px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#topImage2 {
  position: absolute;
  top: 168px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#bottomImage, #bottomButton {
  position: absolute;
  top: 209px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#bottomImage2 {
  position: absolute;
  top: 209px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#shoeImage, #shoeButton {
  position: absolute;
  top: 250px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#shoeImage2 {
  position: absolute;
  top: 250px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring1Image, #ring1Button {
  position: absolute;
  top: 168px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring1Image2 {
  position: absolute;
  top: 168px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring2Image, #ring2Button {
  position: absolute;
  top: 127px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring2Image2 {
  position: absolute;
  top: 127px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring3Image, #ring3Button {
  position: absolute;
  top: 86px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring3Image2 {
  position: absolute;
  top: 86px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring4Image, #ring4Button {
  position: absolute;
  top: 45px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring4Image2 {
  position: absolute;
  top: 45px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#pocketImage, #pocketButton {
  position: absolute;
  top: 209px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#pocketImage2 {
  position: absolute;
  top: 209px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#pendant2Image, #pendant2Button {
  position: absolute;
  top: 86px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#pendant2Image2 {
  position: absolute;
  top: 86px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#pendant1Image, #pendant1Button {
  position: absolute;
  top: 127px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#pendant1Image2 {
  position: absolute;
  top: 127px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#weaponImage, #weaponButton {
  position: absolute;
  top: 168px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#weaponImage2 {
  position: absolute;
  top: 168px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#beltImage, #beltButton {
  position: absolute;
  top: 209px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#beltImage2 {
  position: absolute;
  top: 209px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#earImage, #earButton {
  position: absolute;
  top: 127px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#earImage2 {
  position: absolute;
  top: 127px; 
  left: 152px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#shoulderImage, #shoulderButton {
  position: absolute;
  top: 168px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#shoulderImage2 {
  position: absolute;
  top: 168px; 
  left: 152px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#gloveImage, #gloveButton {
  position: absolute;
  top: 209px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#gloveImage2 {
  position: absolute;
  top: 209px; 
  left: 152px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

/*#android {
  position: absolute;
  top: 250px; 
  left: 152px;
  width: 40px;
  height: 39px;
}*/

#emblemImage, #emblemButton {
  position: absolute;
  top: 45px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#emblemImage2 {
  position: absolute;
  top: 45px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#badgeImage, #badgeButton {
  position: absolute;
  top: 86px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#badgeImage2 {
  position: absolute;
  top: 86px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#medalImage, #medalButton {
  position: absolute;
  top: 127px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#medalImage2 {
  position: absolute;
  top: 127px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#subweaponImage, #subweaponButton {
  position: absolute;
  top: 168px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#subweaponImage2 {
  position: absolute;
  top: 168px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}


#capeImage, #capeButton {
  position: absolute;
  top: 209px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#capeImage2 {
  position: absolute;
  top: 209px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#heartImage, #heartButton {
  position: absolute;
  top: 250px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#heartImage2 {
  position: absolute;
  top: 250px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

