@charset "utf-8";
@font-face{
   font-family: Verdana;
   }

/* HTML and Body Styles */

html{
    display: table;
    margin: auto;
	padding: auto;
	height: 100%;
	background-image: url(images/background.png);
	background-size: cover;
	background-position: center;
	background-size: 100%;
	max-width: 1920px;
	min-width: 900px;
}

ul {
  list-style: none;
}

#equipmentBox {
	position: relative;  /*keeps children within box*/
	display: block;
	width: 233px;
	height: 374px;
	float: left;
}

#equipmentInventory {
  display: block;
  position: absolute;
  vertical-align: middle;
  width: 233px;
  height: 374px;
}

#equipmentBackground {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 127px;
  height: 209px;
}

#hat {
  position: absolute;
  top: 30px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
}

#faceImage, #faceButton{
  position: absolute;
  top: 71px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#faceImage2 { /*Equipment overlay*/
  position: absolute;
  top: 71px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#eyeImage, #eyeButton {
  position: absolute;
  top: 112px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#eyeImage2 { /*Equipment overlay*/
  position: absolute;
  top: 112px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#top {
  position: absolute;
  top: 153px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#bottom {
  position: absolute;
  top: 194px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#shoeImage, #shoeButton {
  position: absolute;
  top: 235px; 
  left: 110px;
  width: 40px;
  height: 39px;
}

#shoeImage2 { /*Equipment overlay*/
  position: absolute;
  top: 235px; 
  left: 110px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring1Image, #ring1Button {
  position: absolute;
  top: 153px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring1Image2 {
  position: absolute;
  top: 153px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring2Image, #ring2Button {
  position: absolute;
  top: 112px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring2Image2 {
  position: absolute;
  top: 112px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring3Image, #ring3Button {
  position: absolute;
  top: 71px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring3Image2 {
  position: absolute;
  top: 71px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#ring4Image, #ring4Button {
  position: absolute;
  top: 30px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#ring4Image2 {
  position: absolute;
  top: 30px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#pocketImage, #pocketButton {
  position: absolute;
  top: 194px; 
  left: 26px;
  width: 40px;
  height: 39px;
}

#pocketImage2 {
  position: absolute;
  top: 194px; 
  left: 26px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#pendant2Image, #pendant2Button {
  position: absolute;
  top: 71px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#pendant2Image2 {
  position: absolute;
  top: 71px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#pendant1Image, #pendant1Button {
  position: absolute;
  top: 112px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#pendant1Image2 {
  position: absolute;
  top: 112px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#weapon {
  position: absolute;
  top: 153px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#beltImage, #beltButton {
  position: absolute;
  top: 194px; 
  left: 68px;
  width: 40px;
  height: 39px;
}

#beltImage2 { /*Equipment overlay*/
  position: absolute;
  top: 194px; 
  left: 68px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#earImage, #earButton {
  position: absolute;
  top: 112px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#earImage2 { /*Equipment overlay*/
  position: absolute;
  top: 112px; 
  left: 152px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#shoulderImage, #shoulderButton {
  position: absolute;
  top: 153px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#shoulderImage2 { /*Equipment overlay*/
  position: absolute;
  top: 153px; 
  left: 152px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#gloveImage, #gloveButton {
  position: absolute;
  top: 194px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#gloveImage2 { /*Equipment overlay*/
  position: absolute;
  top: 194px; 
  left: 152px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#android {
  position: absolute;
  top: 235px; 
  left: 152px;
  width: 40px;
  height: 39px;
}

#emblem {
  position: absolute;
  top: 30px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#badgeImage, #badgeButton {
  position: absolute;
  top: 71px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#badgeImage2 { /*Equipment overlay*/
  position: absolute;
  top: 71px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#medal {
  position: absolute;
  top: 112px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#sub {
  position: absolute;
  top: 153px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#capeImage, #capeButton {
  position: absolute;
  top: 194px; 
  left: 194px;
  width: 40px;
  height: 39px;
}

#capeImage2 { /*Equipment overlay*/
  position: absolute;
  top: 194px; 
  left: 194px;
  width: 40px;
  height: 39px;
  z-index: 1;
  pointer-events: none;
}

#heart {
  position: absolute;
  top: 235px; 
  left: 194px;
  width: 40px;
  height: 39px;
}



